.icon {
  a {
    display: block;
    background-color: deep-get($color, bg, icon);
    width: 35px;
    height: 35px;
    line-height: 30px;
    color: deep-get($color, text, icon);
    text-align: center;

    i{
      line-height: inherit;
    }
  }
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:hover {
    a {
      color: deep-get($color, hover, blue);
    }
  }

  &--active {
    a {
      color: deep-get($color, hover, blue);
    }
  }
}
